@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&family=Sevillana&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: auto;
}

:root {
    --mainFont: "Titillium Web", sans-serif
}

header {
    background-color: #87509c;
    padding-bottom: 140px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;

}

header .navbar ul {
    padding-top: 5px;
}

header .navbar ul li {
    display: inline;
    margin-left: 20px;
}

header .navbar ul .active {
    background-color: #643a79;
    padding: 15px;

}

header .navbar ul li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: var(--mainFont);
}

header nav #bar_icon {
    display: none;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

header .navAnimation {
    display: none;
    width: 300px;
    height: 100vh;
    position: absolute;
    background-color: #b1f0e4;
    z-index: 999;
    top: 0px;
    right: -1000px;
    animation-name: bar;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  
}

@keyframes bar {
    from {
        right: -1000px;
    }

    to {
        right: 0;
    }
}

header .navAnimation.active {
    display: block;
}
header nav .navAnimation i {
    font-size: 35px;
    color: red;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
header nav .navAnimation ul li {
    margin: 10px 0 40px 60px;
    padding-top: 20px;
    list-style: none;
}

header nav .navAnimation ul li a {
    font-family: var(--mainFonts);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.03em;
    color: #0c0b0b;
    text-decoration: none;
}

.mystyle{
    overflow: hidden;
}

header .header-body p {
    font-size: 42px;
    line-height: 49px;
    color: #f7f3ea;
    font-weight: 700;
    font-family: var(--mainFont);
    text-align: center;
    margin-top: 150px;
    margin-bottom: 65px;
}

header .header-body button {
    display: block;
    width: 300px;
    height: 70px;
    background-color: #eb7d4b;
    color: white;
    border-radius: 4px;
    border: none;
    border-bottom: 4px solid #c86a40;
    margin: auto;
}

header .header-body button a {
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    font-family: var(--mainFont);
    text-decoration: none;
    text-transform: uppercase;
}

.services {
    background-color: #16c2a3;
    padding-bottom: 130px;
}

.services .services-head h1 {
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    font-family: var(--mainFont);
    text-align: center;
    text-transform: uppercase;
    padding-top: 120px;
    margin-bottom: 20px;
}

.services .services-head hr {
    opacity: 0.149;
    width: 87px;
    height: 4px;
    background-color: #000000;
    margin: auto;

}

.services .services-head p {
    width: 590px;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
    font-family: var(--mainFont);
    text-align: center;
    margin: 20px auto 80px auto;


}

.services .services-body {
    display: flex;
    justify-content: center;
    text-align: center;
}

.services .services-body .flag h1 {
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: var(--mainFont);
    margin: 60px 0 25px 0;
}

.services .services-body .flag p {
    width: 204px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Titillium Web";
    text-align: center;
}

.team {
    background-color: #e7f1f8;
}

.team .team-head h1 {
    font-size: 41px;
    letter-spacing: 4px;
    line-height: 30px;
    color: #3c4761;
    font-weight: 700;
    font-family: var(--mainFont);
    text-align: center;
    text-transform: uppercase;
    padding-top: 120px;

}

.team .team-head hr {
    opacity: 0.749;
    width: 87px;
    height: 4px;
    background-color: #bdd1df;
    margin: 25px auto 25px auto;
    border: none;
}

.team .team-head p {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #3c4761;
    font-weight: 400;
    font-family: var(--mainFont);
    text-align: center;

}

.team .team-body {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 80px;
    padding-bottom: 130px;
}

.team .team-body img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: contain;
    background-color: gray;
}

.team .team-body h1 {
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 18px;
    text-transform: uppercase;
    color: #27283d;
    font-weight: 700;
    font-family: var(--mainFont);
    margin: 40px 0 15px 0;
}

.team .team-body a {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 18px;
    color: #30bae7;
    font-weight: 400;
    font-family: var(--mainFont);
    text-align: center;
    text-decoration: none;

}

.team .team-body p {
    width: 204px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #3c4761;
    font-weight: 300;
    font-family: var(--mainFont);
    text-align: center;
    margin: 30px 0;
}

.team .team-body i {
    font-size: 30px;
    border-radius: 50%;
    color: #bdd1df;
    margin-left: 10px;
}

.project {
    background-color: #ffdd99;
    padding-bottom: 110px;
}

.project .project-head h1 {
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 30px;
    color: #393939;
    font-weight: 700;
    font-family: var(--mainFont);
    text-align: center;
    text-transform: uppercase;
    padding-top: 120px;
}

.project .project-head hr {
    width: 87px;
    height: 4px;
    background-color: #e5c37f;
    border: none;
    margin: 25px auto;
}

.project .project-head p {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #393939;
    font-weight: 400;
    font-family: var(--mainFont);
    text-align: center;
}

.project .project-body ul {
    margin: 40px auto 65px auto;
    text-align: center;
}

.project .project-body ul li {
    display: inline;
    margin-left: 15px;

}

.project .project-body ul li .active {
    background-color: #ffffff;


}

.project .project-body ul li a {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 20px;
    color: #393939;
    font-weight: 400;
    font-family: var(--mainFont);
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ebc985;
    padding: 5px 15px;
    border-radius: 4px;
}

.project .project-body .images {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;

}

.project .project-body .images img {

    width: 430px;
    margin-bottom: 50px;



}

.project .project-body button {
    display: block;
    width: 300px;
    height: 70px;
    margin: auto;
    margin-top: 90px;
    background-color: #17c1a3;
    border: none;
    border-radius: 5px;
    border-bottom: 4px solid #14a48b;


}

.project .project-body button a {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 600;
    font-family: var(--mainFont);
    text-decoration: none;
    text-transform: uppercase;
}


.people {
    background-color: #d74680;
    padding-bottom: 130px;
}

.people .people-head h1 {
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    font-family: var(--mainFont);
    text-align: center;
    padding-top: 120px;
}

.people .people-head hr {
    opacity: 0.149;
    width: 87px;
    height: 4px;
    background-color: #000000;
    margin: 25px auto;
    border: none;
}

.people .people-head p {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
    font-family: var(--mainFont);
    text-align: center;
    margin-bottom: 85px;
}

.people .people-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.people .people-body .card {
    display: flex;
    margin-bottom: 145px;
    margin-right: 100px;
}

.people .people-body .card .card-image img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 50px;
}

.people .people-body .card .card-body p {
    width: 297px;
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 31px;
    color: #ffffff;
    font-weight: 400;
    font-style: italic;
    font-family: var(--mainFont);
    margin-bottom: 30px;

}

.people .people-body .card .card-body h2 {
    font-size: 28px;
    line-height: 26px;
    color: #080600;
    font-weight: 700;
    font-family: var(--mainFont);
    text-transform: capitalize;
    margin-bottom: 15px;
}

.people .people-body .card .card-body a {
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffdd99;
    font-weight: 400;
    font-family: var(--mainFont);
    text-decoration: none;
}

.contact {
    background-color: #3c5499;
}

.contact .touch h1 {
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    font-family: var(--mainFont);
    text-align: center;
    padding-top: 120px;
    text-transform: uppercase;
}

.contact .touch hr {
    width: 87px;
    height: 4px;
    background-color: #273a71;
    margin: 25px auto;
    border: none;
}

.contact .touch p {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
    font-family: var(--mainFont);
    text-align: center;
    margin-bottom: 80px;
}

.contact form .input-text {
    display: flex;
    justify-content: center;

}
.contact form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact form input {
    width: 414px;
    height: 56px;
    color: white;
    border-radius: 4px;
    background-color: #273a71;
    margin-left: 35px;
    margin-bottom: 35px;
    border: none;
    outline: none;
    padding-left: 15px;
}
.contact input::placeholder, .contact textarea::placeholder{
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    font-weight: 400;
    font-family: var(--mainFont);
    opacity: 0.7;
}
.contact textarea {
    /* margin: auto; */
    margin-left: 30px;
    resize: none;
    width: 860px;
    height: 200px;
    color: white;
    border-radius: 4px;
    background-color: #273a71;
    border: none;
    outline: none;
    padding: 15px;
   
}
.contact textarea::placeholder{
    padding-top: 10px;
}
.contact .contact-button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 110px;
}
.contact button {
    width: 293px;
    height: 70px;
    border-radius: 4px;
    background-color: #30bae7;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 600;
    font-family: var(--mainFont);
    border: none;
border-bottom: 4px solid #299ec5;
}
